# Clerk Authentication Keys
VITE_CLERK_PUBLISHABLE_KEY="pk_test_YmVsb3ZlZC1iYXJuYWNsZS00LmNsZXJrLmFjY291bnRzLmRldiQ"

# Cloudinary Image Storage Keys
VITE_CLOUDINARY_CLOUD_NAME="dkyzhrnpd"
VITE_CLOUDINARY_UPLOAD_PRESET="zestwear_uploads"

# NeonDB Database Connection String
DATABASE_URL="postgresql://username:password@ep-something.us-east-2.aws.neon.tech/neondb?sslmode=require"

