# Clerk Authentication Keys
VITE_CLERK_PUBLISHABLE_KEY="pk_test_..."

# Cloudinary Image Storage Keys
VITE_CLOUDINARY_CLOUD_NAME="your_cloud_name_here"
VITE_CLOUDINARY_UPLOAD_PRESET="your_upload_preset_here"

# NeonDB Database Connection String
DATABASE_URL="postgresql://username:password@ep-something.us-east-2.aws.neon.tech/neondb?sslmode=require"

